.app-drawer {
position:absolute;
font-size:14px;
top:0;
left:0;
width:400px;
height:708px;
margin:0 auto;
padding:174px 0 0;
opacity:1;
transform:translateY(800px);
color:#fff;
z-index:65;
overflow:hidden;
margin: 28px 6px 0;
border: solid 1px rgba(255,255,255,0.25);
border-radius:3px;
background:rgba(60,60,60,.85)
}

.app-drawer.open {
transform:translateY(0px);
opacity:1;
animation:drawer-slideup .5s
}

@keyframes drawer-slideup {
0% {
opacity:0;
transform:translateY(800px)
}

70% {
opacity:.7;
transform:translateY(60px)
}

80% {
opacity:.9;
transform:translateY(20px)
}

100% {
opacity:1;
transform:translateY(0)
}
}

.target-app-container {
position:absolute;
top:0;
left:0;
width:412px;
height:732px;
transform:scale(0);
border-radius:50%;
background:rgba(247,236,236,1);
color:#333
}

.target-app-container.gotoapp {
z-index:180;
transform:scale(1);
border-radius:0;
transition:all .15s cubic-bezier(0.550,0.085,0.680,0.530)
}

.target-app-container header {
background:rgba(247,211,97,1);
height:60px;
border-bottom:solid 3px #ccc
}

.target-app-container section {
padding:15px
}

.opened-app-title {
width:412px;
text-align:center;
color:#333;
font-size:24px;
line-height:60px
}

.opened-app-info {
text-align:left;
font-size:14px
}

.search-results {
position:absolute;
top:200px;
left:40px;
width:332px;
height:60px;
font-size:14px;
z-index:200;
color:#fff;
display:none
}

.search-container {
position:absolute;
top:14px;
left:20px;
width:356px;
height:35px;
z-index:100;
margin-bottom:10px;

}

.search-app {
position:relative;
left:0px;
width:356px;
height:45px;
padding:0 10px;
background:rgba(35,31,32,0.35);
font-size:20px;
border:solid 1px rgba(255,255,255,.25);
margin: 0 auto;
border-radius:3px;
background-image:url(../images/icon-placeholdertext.png);
background-repeat:no-repeat;
background-position:10px 12px;
background-size: 76px 24px;
color: #fff;

}

.search-app:focus {
background-image: none;
outline:0
}
#cancel-button {
position:absolute;
border: 0;
top:0px;
right:0;
height:45px;
width: 60px;
background:transparent;
background-image:url(../images/search-cancel-dark.png);
background-repeat:no-repeat;
background-size: 50px 37px;
background-position:11px 5px;
opacity:0;
}
#cancel-button.cancel-onfocus {
opacity:1;
}
.search-app::-webkit-search-cancel-button {
position:relative;
right:0;
-webkit-appearance:none;
height:25px;
width:25px;
border-radius:15px;

background-image:url(../images/search-cancel-white.png);
background-repeat:no-repeat
}

.drawer-tabs {
position:absolute;
top:255px;
height:75px;
margin-bottom:10px;
z-index:100;
color:#fff;
opacity:1;
transition: all 0.25s;
}
.drawer-tabs.hide-tabs {
opacity:0;
transition: all 0.25s;
}
.drawer-tabs .sorting-link {
width:164px;
height:48px;
text-align:center;
font-size: 16px;
line-height: 48px;
border-radius: 3px;
border: solid 1px rgba(255,255,255,0.25);
float:left;
background:rgba(255,255,255,0);
margin: 0 30px;
}

.drawer-tabs .sorting-link.selected {
	background:rgba(255,255,255,0.4);
}
.drawer-tabs .sorting-link:first-child{
margin-right:0;
}
.drawer-tabs .sorting-link:last-child {
	margin-left: 10px;
}
.app-content-container {
margin-top:0;
width:392px;
margin-bottom:10px;
padding:0;
position:relative;
}

.apps-wrapper {
width:100%;
position:relative;
padding-top:5px;
z-index:1000;
min-height:505px;
height:505px;
-webkit-touch-callout:none;
-webkit-user-select:none;
}

.app-content-container .thumb {
display:inline-block;
position:absolute;
width:98px;
height:90px;
margin-right:-4px;
text-align:center;
overflow:hidden;
z-index:10;
}

.app-content-container .thumb img {
width:50px;
height:50px;
margin:10px 10px 5px 14px
}

.apps-recents-wrapper {
position: absolute;
top: 77px;
border-top: solid 1px rgba(255,255,255,0.25);
border-bottom: solid 1px rgba(255,255,255,0.25);
width:412px;
height:0;
margin-bottom:5px;
z-index:20
}

.apps-recents-wrapper.show-recents {
opacity:1;
height:155px;
animation:recents-fadein 1s
}

.apps-recents-wrapper.hide-recents {
opacity:0;
height:0;
animation:recents-fadeout .5s
}

@keyframes recents-fadeout {
0% {
opacity:1;
height:155px
}

50% {
opacity:0;
height:155px
}

100% {
opacity:0;
height:0
}
}

@keyframes recents-fadein {
0% {
opacity:0;
height:0
}

50% {
opacity:0;
height:155px
}

100% {
opacity:1;
height:155px
}
}

.app-category-title1,.app-category-title2,.app-category-title {
font-size:20px;
margin-top: 5px;
height:40px;
line-height:40px;
padding:0 20px;
color:#ccc;
transition:all .25s
}

.app-category-title2 {
opacity:0
}

.app-category-title2.show-title {
opacity:1;
transition:all .25s
}

.app-name {
display:inline-block;
width:80px;
margin:0 4px;
font-size:12px;
line-height:1.3;
opacity:1;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}

.apps-recents-wrapper .recent {
display:inline-block;
width:99px;
margin-right:-4px;
height:90px;
text-align:center
}

.apps-recents-wrapper .recent img {
width:50px;
height:50px;
margin:10px 12px 5px 12px
}

#drawer-wrapper {
position:absolute;
top: 320px;
width:412px;
height:523px;
overflow:hidden;
/*box-shadow: 0 3px 2px rgba(0,0,0,.3);;*/
border-radius:5px;
z-index: 110;
transition: all 0.15s;
}
#drawer-wrapper.search-mode {
	top: 125px;
	transition: all 0.15s;
}
#drawer-scroller {
position:absolute;
z-index:1;
-webkit-tap-highlight-color:rgba(0,0,0,0);
width:392px;
height:1400px;
-webkit-transform:translateZ(0);
transform:translateZ(0);
-webkit-touch-callout:none;
-webkit-user-select:none;
user-select:none;
-webkit-text-size-adjust:none;
text-size-adjust:none
}

.app-icon.new-app {
border:solid 4px purple
}

#icon3 {
z-index:1000;
background-image:url(../images/logo-amazon.png);
background-position:center center;
background-repeat:no-repeat
}

.category_wrapper {
position:static;
width:392px;
opacity:1;
margin-bottom:5px
}
.favapps-global-wrapper {
	position:absolute;
	transform:translate3d(0,800px,0);
	left:0;
	width: 412px;
	height: 732px;
	z-index: 400;
	opacity: 0;
	transition: all 0.25s;
	background: #000;
	overflow:hidden;
	color:#fff;
	background:#555;
}

.favapps-global-wrapper.edit-favorites {
	transform:translate3d(0,0,0);
	opacity:1;
	transition: all 0.25s
}
.favapps-container {
	position: absolute;
	top:0;
	left:0;
	width: 412px;
	height: 732px;
	border-radius:3px;
	z-index: 400;
	overflow:hidden;
	color: #fff;
}
.hide-favapps-msgcontainer {
	width: 330px;
	height: 166px;
	position: absolute;
	top: 400px;
	left: 41px;
}

.max8-toastmessage {
	width: 412px;
	height: 48px;
	position: absolute;
	left: 0px;
	background: #fff;
	bottom: -100px;

	z-index: 1000;
	transition: all 0.25s;
}

.max8-toastmessage p {
	color: #000 !important;
	padding: 0 17px;
	line-height: 48px;

}
.max8-toastmessage.show-toast {
	bottom: 50px;
	transition: all 0.25s;
}
.empty-msg-title {
	font-size:17px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 1);
}
.empty-msg-style {

	color: rgba(0,0,0,0.54)!important;
	font-size: 14px;
	line-height: 24px;
}
#favapps-manager-closebutton {
	position: absolute;
	width:48px;
	height:48px;
	top:32px;
	right:20px;
	z-index:100;
	background-image: url(../images-eui6/ic_card_close.png);
	background-size: 27px 27px;
	background-repeat: no-repeat;
	background-position: center center;
}

.favapps-emptymsg-global-container {
	position: absolute;
	width: 412px;
	height: 732px;
	background: rgba(0,0,0,0.5);
	z-index: 2000;
	top: 0;
	display: none;
}

.favapps-emptymsg-global-container.show-msg-container {
	display:block;
}

.favapps-empty-message {
	position: absolute;
	background: #fff;
	top: 256px;
	left: 41px;
	width: 330px;
	height: 166px;
	padding:20px;

}
/*.favapps-empty-message p {
	color:#000;
	line-height: 20px;
}*/

p.continue,  p.hidecard {
	font-size: 14px;
	color:#4384F7;
	bottom:20px;
	font-family: 'robotolight';
	position: absolute;
}
p.continue {
	right:108px;
}
p.hidecard {
	right:23px;
}

.zero-favappp-message {
	font-size: 22px!important;
	display: none;
}

.zero-favappp-message.show-zeromsg {
	display: block;
}
/*
.favapps-container.edit-favorites {
	top:24px;
	opacity:1;
	transition: all 0.25s
}*/
#favapps-selected {
	position:absolute;
	height: 200px;
	width: 392px;
	margin-top: 55px;
	z-index:55;
}
#favapps-selected li, #favapps-all li, #favapps-all-clone li {
	width:83px;
	height:101px;
	padding-top:5px;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 7px 7px 0;
	border: solid 1px transparent;
}
#favapps-selected li span,#favapps-all li span, #favapps-all-clone li span{
	width: 75px;
	margin: 0 4px;
	height: 20px;
	font-size: 13.7px;
 	white-space: nowrap;
 	overflow: hidden;
 	display: inline-block;
 	text-overflow: ellipsis;
}
#favapps-selected li img, #favapps-all li img, #favapps-all-clone li img {
	position: relative;
	display:block;
	width: 54px;
	height: 54px;
	margin: 0 auto;
	margin-bottom: 12px;
/*	padding: 10px 20px;*/
}
#favapps-selected-container {
	height: 320px;
	width: 412px;
	padding: 0;
	position: absolute;
	padding: 27px;
	top: 0;
	background: rgba(0,0,0,0.2);
	z-index: 100;
/*	overflow: hidden;*/
/*	border-bottom: solid 1px rgba(255,255,255,.25);*/
	-webkit-backdrop-filter: blur(25px);
}
#favapps-selected-container .widget-title {
	top:24px;
}
#favapps-selected-container.nearby {
	background: rgba(0,0,0,0.5);
}

#favapps-all-container {
	position:absolute;
	top: 0;
	width: 412px;
	margin-top:320px;
	height: 460px;
	z-index: 10;
	padding: 27px;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
/*	border: solid 3px transparent;*/
}

#favapps-all-container-blur {
	position:absolute;
	top: 0px;
	width: 392px;
	margin-top:260px;
	height: 400px;
	z-index: 5;
/*	overflow: hidden;*/
/*	border: solid 3px blue;*/
	height:0;
}

.dropzone-highlight-container {
	position: absolute;
	top:261px;
	left:0px;
	background:#fff;
	width: 392px;
	height: 520px;
	height: 3px;
	display: none;
	z-index:1000;
}

#favapps-all-container.nearby{
/*	border: solid 3px #fff;*/
background: rgba(0,0,0,0.2)
}
.dropzone-highlight-container.nearby{
	display: block;
}

.favorite {
	background: rgba(0,0,0,.1);
/*	border: solid 1px rgba(255,255,255,.25)!important;*/
/*	border-radius: 3px;*/
}

.favorite:after {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid red;
}
#favapps-scroller, #favapps-scroller-blur{
	position:absolute;
	top:0;
	z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:392px;
	height:1600px;
/*	border: solid 1px purple;*/
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-text-size-adjust:none;
	text-size-adjust:none
}
#favapps-all{
	position: absolute;
	top: 27px;
	width: 392px;
	z-index:10;
}

#favapps-all-clone {
	position: absolute;
	top: 0px;
	left:-3px;
	width: 392px;
	z-index:-1;
	overflow: hidden;
}

.favapps-dropzone {
	position: absolute;
	left:0;
	bottom: 0px;
	width: 412px;
	height: 10px;

}
.favapps-dropzone.nearby {

}
.favapps-dropzone2 {
	position: absolute;
	top:0;
	right:0;
	width:10px;
	height: 230px;
}

.favapps-dropzone2.nearby {
	background: rgba(211, 3, 57, 0.5);
}

.ui-resizable-n {
    cursor: n-resize;
    height: 45px;
    width: 100%;
    top: -21px;
    left: 0;
    position:relative;

}
.ui-resizable-n::before {
	content: '';
	cursor: n-resize;
	position:absolute;
	top:0;
	background-image: url(../images/ic-pulldrawer.png);
    background-repeat:no-repeat;
    background-position:center 34px;
	left:76px;
	z-index: 600;
	width: 260px;
	height:115px;
	opacity: 0;
	transition: all 0.25s;
}
.ui-resizable-n.pulling::before {
	opacity: 1;
	transition: all 0.25s;
	}

#appdrawer {
	position:absolute;
	width: 412px;
	top:641px;
	height: 91px;
	z-index:5000;
	transition: all 0.25s;
}

#appdrawer::before {
	content: '';
	position: absolute;
	width: 412px;
	height: 100%;
	z-index: -1;
	background-image: url(../images/bg-homeviewblur.jpg);
	background-position: center bottom;
	opacity: 0;
	transition: all 0.5s
}

#appdrawer.pulling::before {
	opacity: 1;
	transition: all 0.5s
}

#appdrawer.add-blurbg {
	background-size:412px 732px;
	transition: all 0.2s;
}

#appdrawer.open-appdrawer {
	height: 732px;
	top:0;
	background-size: 412px 732px;
	transition: all .5s;
}

#appdrawer.slide-down {
transform: translate3d(0,120px,0);
transition: all 0.25s;
}

.home-icons {
	position: absolute;
	top:0;
	height:0;
	z-index: 90;
	transition: all 0.1s 0.2s;
}



.open-appdrawer .home-icons {
	opacity: 0;
	transition: all 0.1s 0.2s;
}
.appdrawer-container {
	width: 412px;
	height:732px;
	opacity:0;
	transition: all 0.5s;
}

.open-appdrawer .appdrawer-container {
	opacity: 1;
	transition: all 0.5s;
}



.appdrawer-global-wrapper {
	width: 412px;
	height:732px;
	position:absolute;
}

.appdrawer-bg {
	width: 412px;
	height:732px;
	position:absolute;
	z-index:-1;
	opacity:0;
}

.appblur-container {
	width: 412px;
	height: 0;
	position: absolute;
	bottom:0;
	left:0;
	z-index:400;
}


.appdrawer-search-wrapper {
width: 412px;
height: 100px;
padding: 35px 10px 10px;
background: rgba(56,56,56,.7);
}

.search-app-input {
	width: 100%;
	height: 55px;
	background: #585858;
	padding: 14px 46px;
	font-family: 'SansPro-Regular';
	font-size:18px;
	border:0;
	border-radius: 3px;
	color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-image: url(../images/ic_search_light.png);
	background-repeat: no-repeat;
	background-size: 27.5px 27.5px;
	background-position: 10px 13px;
}

.search-terms-wrapper {
	width:412px;
	height: 45px;
	background: rgba(56,56,56,.7);
}
.search-terms-list li{
	font-family: 'SansPro-Regular';
	float: left;
	width: 137px;
	line-height: 45px;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	color:#A6A7AE;
}
.search-terms-list li.selected {
	border-bottom: solid 1px #D8D8D8;
	color: #fff;
}



#appdrawer-apps-wrapper {
	position: absolute;
	width:412px;
	height:587px;
	top: 145px;
	padding: 20px 21px;
	overflow:hidden;
	background: rgba(72,72,72,0.7);
}

#appdrawer-apps-scroller {
position:absolute;
z-index:1;
-webkit-tap-highlight-color:rgba(0,0,0,0);
width:412px;
height:1000px;
-webkit-transform:translateZ(0);
transform:translateZ(0);
-webkit-touch-callout:none;
-webkit-user-select:none;
user-select:none;
-webkit-text-size-adjust:none;
text-size-adjust:none
}

.appdrawer-icon-wrapper {
	width: 82px;
	margin: 12px 5px;
	height:95px;
	float: left;
}
.appdrawer-icon-wrapper img {
    display: block;
    width: 54px;
    height: 54px;
    margin: 16px auto 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.appdrawer-icon-wrapper p {
    font-size: 13.68px;
    text-align: center;
}
